<div class="main-image">
  <div class="container">
    <h1 class="shopping_list">Shopping List</h1>
    <p style="color:white">Register to get started.</p>
    <p>
      <%= link_to 'Log In', new_user_session_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
