// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

.item {
    @extend .row;

    padding-bottom: 2em;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  div.item:nth-child(2n+1) {
    clear: both;
  }
}

@media (min-width: $screen-md-min) {
  div.item:nth-child(3n) {
    clear: both;
  }
}

.list {
  @extend .item;
}

.item-in-list {
  padding: 10px;
}

.crossed-out {
  text-decoration: line-through;
}
