// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

.item {
    @extend .row;

    padding-bottom: 2em;
}

.list {
  @extend .item;
}

.item-in-list {
  padding: 10px;
}

.crossed-out {
  text-decoration: line-through;
}
